* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    background-color: #186B5C;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    background-color: #2ED1B3;
    box-shadow: 0px 0px 1px 2px #2ED1B3;
    padding: 40px;
    border-radius: 5px;
    margin: 10px;
    margin-top: 50px;
    width: 50%;
    max-width: 600px;
    align-self: center;
}

header h1 {
    text-align: center;
    color: #094e41;
    font-size: 35px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 50vh;
    justify-content: space-around;
}

#play {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    gap: 50px;
    width: 60%;
    max-width: 600px;
}

#play > button {
    flex: 1 0 0;
    background-color: #FF8A4F;
    color: #094e41;
    box-shadow: 0px 0px 2px 2px #FF8A4F;
    border-radius: 2px;
    padding: 15px 0px;
    font-size: 20px;
    font-weight: 800;
}

#result {
    display: flex;
    width: 60%;
    margin: 10px;
    gap: 50px;
    max-width: 600px;
}

#result > p {
    flex: 1 0 20%;
    font-size: 20px;
    font-weight: 800;
    background-color: #E3D324;
    color: #094e41;
    box-shadow: 0px 0px 1px 2px #57510E;
    border-radius: 2px;
    padding: 10px 0px;
    text-align: center;
}

#reset > button {
    background-color: #C44FFF;
    color: #094e41;
    box-shadow: 0px 0px 2px 2px#C44FFF;
    border-radius: 2px;
    padding: 15px 15px;
    font-size: 20px;
    font-weight: 800;
}

footer div {
    text-align: center;
    background-color: #2ED1B3;
    padding: 15px;
}


footer p {
    font-weight: bold;
}


#play > button:hover {
    background-color: white;
    cursor: pointer;
    transform: scale(1.15);
}

#reset > button:hover {
    background-color: white;
    cursor: pointer;
    transform: scale(1.15);
}



